p {
font-family:verdana;
}
h1 {
font-family:verdana;
font-size: 50px;
color: RoyalBlue;
text-align: center;
}
a {
font-family:verdana
}
h2 {
background-color:Tomato;
color: Black;
font-family:verdana;
padding: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

body {
  background: #0;
  color: Black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-bottom: 40px;
}

.header {
	background: White;
	anchor-name: --header;
	background: linear-gradient(0deg,Green 0%,White 50%, RoyalBlue 100%);
	padding-top: 20px;
	margin: 0px;
}

.header img { 
  margin-left: 26%;
  position-anchor: --header;
  width: 50%;
  height: auto;
  display: inline-block

}

.header h1 {
	position: relative;
	text-align: left;
	bottom: 70px;
	margin: 0px;
	display: inline-block
}

.header p {
	position: relative;
	left: 45%;
	bottom: 70px;
	color: RoyalBlue;
	margin: 0px
}

.header_buttons {
	background: Black;
	padding: 0px;
	padding-bottom: 2px;
	display: flex;
	margin-bottom: 5px;
}

.main_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  gap: 5px;
}
.container div {
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.icons {
  height: 180px;
  width: 320px;
}

.in_sim_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding: 12px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
}

.ex_col_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding: 12px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
}


details {
  font-family:verdana;
  margin-top:5px
}

summary {
  font-weight: bold;
  font-family:verdana;
  padding: 0.5em;
  cursor: pointer;	
}

details[open] {
  border-style: solid;
  border-width:2px;
}
details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
  cursor: pointer;	
}


.main_button {
  background-color: RoyalBlue;
}
.main_button:hover {
  background-color: DodgerBlue;
}
details[open] {
  border-color: FireBrick;	
  background-color:WhiteSmoke;
}
details[open] summary, .ex_col_button, .in_sim_button {
  background-color:Tomato;	
}
details[open] summary:hover, .ex_col_button:hover, .in_sim_button:hover {
  background-color: Coral;
}
summary {
	background-color:Gainsboro;	
}
summary:hover{
	background-color: WhiteSmoke;
}