:root {
  --main_button_color: #235789;
  --main_button_color_hl: SkyBlue;
  --in_page_button_color: #C1292E;
  --in_page_button_color_hl:Coral;
  --details_open_color: WhiteSmoke;
  --details_open_border_color: FireBrick;
  --summary_open_color: #C1292E;
  --summary_open_color_hl: Coral;
  --summary_color: Gainsboro;
  --summary_color_hl: WhiteSmoke;
  --header_color1: #235789;
  --header_color2: White;
  --header_color3: #C1292E;
  --main_button_banner_color:#161925;
}

canvas {
	border: 0px Black;
	margin: 0px;
	display: Block;
}

p {
font-family:verdana;
}
h1 {
font-family:verdana;
font-size: 50px;
color: RoyalBlue;
text-align: center;
}
a {
font-family:verdana
}
h2 {
background-color:Tomato;
color: Black;
font-family:verdana;
padding: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

body {
  background: #0;
  color: Black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-bottom: 40px;
  width: 100%
}

.header {
	background: White;
	anchor-name: --header;
	background: linear-gradient(0deg,var(--header_color3) 0%,var(--header_color2) 50%, var(--header_color1) 100%);
	padding-top: 20px;
	margin: 0px;
}

.header img { 
  margin-left: 26%;
  position-anchor: --header;
  width: 50%;
  height: auto;
  display: inline-block

}

.header h1 {
	position: relative;
	text-align: left;
	bottom: 70px;
	margin: 0px;
	display: inline-block
}

.header p {
	position: relative;
	left: 45%;
	bottom: 70px;
	color: RoyalBlue;
	margin: 0px
}

.header_buttons {
	background: var(--main_button_banner_color);
	padding: 0px;
	padding-bottom: 2px;
	display: block;
	margin-bottom: 5px;
}

.main_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
  background-color: var(--main_button_color);
}

.main_button:hover {
 background-color: var(--main_button_color_hl);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  gap: 5px;
}
.container div {
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.icons {
  height: 180px;
  width: 320px;
}

.in_sim_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding: 12px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
  background-color:var(--in_page_button_color);	
}

.ex_col_button {
  font-family:Verdana;
  font-weight: Bold;
  color: Black;
  font-size: 15px;
  padding: 12px;
  margin:5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;	
  background-color:var(--in_page_button_color);	
}


details {
  font-family:verdana;
  margin-top:5px
}

summary {
  font-weight: bold;
  font-family:verdana;
  padding: 0.5em;
  cursor: pointer;	
  background-color:var(--summary_color)
}

summary:hover{
	background-color:var(--summary_color_hl)
}

details[open] {
  border-style: solid;
  border-width:2px;
}
details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
  cursor: pointer;	
  background-color:var(--summary_open_color);
}

details[open] summary:hover {
  background-color:var(--summary_open_color_hl);	
}

details[open] {
  border-color: var(--details_open_border_color);	
  background-color:var(--details_open_color);
}

.ex_col_button:hover, .in_sim_button:hover {
  background-color: var(--in_page_button_color_hl)
}
